In [ ]:
print("Hello World!")

Hello World!

# **Variabel**

In [ ]:
first_name = 'Lana'
last_name = 'Syakina'
age = 22
gender = 'Female'

In [ ]:
print(first_name)
first_name, last_name, age = 'Yo', 'oke', 20
print(first_name)

Lana
Yo

In [ ]:
print('Perubahan variabel first_name menjadi', first_name)
print('Perubahan variabel last_name menjadi', last_name)
print('Perubahan variabel age menjadi', age)
print('Variabel gender tidak berubah, tetap', gender)

Perubahan variabel first_name menjadi Yo
Perubahan variabel last_name menjadi oke
Perubahan variabel age menjadi 20
Variabel gender tidak berubah, tetap Female

**Integer, Float, Boolean, String**

In [ ]:
#Melihat tipe data
print(type(24))
print(type(3.14))
print(type('3.14'))
print(type(True))

x=5
type_x = type(x)
print('Tipe data x adalah', type_x)

y='Indonesia'
type(y)
print('Tipe data y adalah', type(y))

type(False)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
Tipe data x adalah <class 'int'>
Tipe data y adalah <class 'str'>

bool

In [ ]:
type_x

int

In [ ]:
#Menghitung banyaknya karakter
y='Indonesia'
print(len(y))

#Mengetahui indeks ke - atau karakter ke-+1 dari str
print(y[0])
print(y[5])

9
I
e

**List**

In [ ]:
this_is_blank_list = []
print(this_is_blank_list)

[]

In [ ]:
this_is_also_blank_list = list()
print(this_is_also_blank_list)

[]

In [ ]:
list_from_string = list('yellow')
print(list_from_string)

['y', 'e', 'l', 'l', 'o', 'w']

In [ ]:
list_angka = [234]
print(list_angka)
list_angka2 = [12, 30.4]
print(list_angka2)
print(list_angka, list_angka2)

[234]
[12, 30.4]
[234] [12, 30.4]

In [ ]:
also_list_with_string = ['yellow','blue']
print(also_list_with_string)

['yellow', 'blue']

In [ ]:
angka_str = [12, 'yow']
print(angka_str)
print('angka dan str:', angka_str)
print(len(angka_str))
print(angka_str[0])
print(angka_str[1][2])

[12, 'yow']
angka dan str: [12, 'yow']
2
12
w

In [ ]:
first_color, second_color = also_list_with_string
print(second_color)

blue

In [ ]:
list_more_color = ['yellow', 'blue', 'pink', 'white']
f_color, s_color = list_more_color
print(f_color)
#terlalu banyak value, variabel cuma dua
#jumlah value dan variabel harus sama
#hasil error

ValueError: ignored

In [ ]:
list_more_color = ['yellow', 'blue', 'pink', 'white']
f_color, s_color, *other_color = list_more_color
print(f_color)
print(other_color)

yellow
['pink', 'white']

# Tugas Mini Quiz

In [45]:
product = ['Apple', 'Orange', 100, 'Grape', 120.33, 'Cherry', 13.00, 'Pear', 500, 'Melon', 'Strawberry']
print(type(product[4]))
len(product)

<class 'float'>

11

In [46]:
type_list = set([type(item) for item in product])
awal = {}
for type_nya in set(type_list):
  awal[type_nya] = [item for item in product if type(item) == type_nya]
 
awal

{float: [120.33, 13.0],
 int: [100, 500],
 str: ['Apple', 'Orange', 'Grape', 'Cherry', 'Pear', 'Melon', 'Strawberry']}

In [57]:
ip=['a',1,2,3]
m=[]
n=[]
for x in range(0,len(ip)): #range(0,4) = (0,1,2,3) 
  if str(ip[x]).isdigit(): #isdigit : return True
    m.append(ip[x]) #append : menambahkan nilai ke dalam list
  else:
    n.append(ip[x])
print(m,n)

[1, 2, 3] ['a']

Cara I

In [65]:
myList = [4, 'a', 'b', 'c', 1, 'd', 3]
from collections import defaultdict
d = defaultdict(list)
for x in myList:
   d[type(x)].append(x)

print(d[int])
print(d[str])
print(d[int], d[str])

[4, 1, 3]
['a', 'b', 'c', 'd']
[4, 1, 3] ['a', 'b', 'c', 'd']

Cara II

In [66]:
myList = [4, 'a', 'b', 'c', 1, 'd', 3]
myIntList = [x for x in myList if isinstance(x, int)]
print(myIntList)
#[4, 1, 3]
myStrList = [x for x in myList if isinstance(x, str)]
print(myStrList)
#['a', 'b', 'c', 'd']

print(myIntList, myStrList)

[4, 1, 3]
['a', 'b', 'c', 'd']
[4, 1, 3] ['a', 'b', 'c', 'd']

In [68]:
product = ['Apple', 'Orange', 100, 'Grape', 120.33, 'Cherry', 13.00, 'Pear', 500, 'Melon', 'Strawberry']
product_str = [x for x in product if isinstance(x,str)]
print(product_str)

product_int = [x for x in product if isinstance(x,int)]
print(product_int)

product_float = [x for x in product if isinstance(x,float)]
print(product_float)

print(product_str, product_int, product_float)

string = product_str
number = product_int + product_float
number

['Apple', 'Orange', 'Grape', 'Cherry', 'Pear', 'Melon', 'Strawberry']
[100, 500]
[120.33, 13.0]
['Apple', 'Orange', 'Grape', 'Cherry', 'Pear', 'Melon', 'Strawberry'] [100, 500] [120.33, 13.0]

[100, 500, 120.33, 13.0]

In [73]:
sorted(string, reverse=False)
sorted(string, reverse=True)

['Strawberry', 'Pear', 'Orange', 'Melon', 'Grape', 'Cherry', 'Apple']

In [77]:
#tidak muncul hasil
number.sort(reverse=False)

In [78]:
print(number.sort(reverse=False))

None

In [79]:
#muncul hasil
sorted(number, reverse=False)

[13.0, 100, 120.33, 500]